<!DOCTYPE html>
<html lang="en">
<head>
  {{template "head" .}}
</head>
<body>
{{template "header" .}}
<div class="page-root">
  <main>
    <div class="container">
      <h1>Tools</h1>
      <div class="tool-box">
        <div class="tool-item"><h3><a href="/tools/survey-bot">Survey Bot</a></h3><p>Web crawler for getting fast food cupons and rewards</p></div>
{{/*        <div class="tool-item"><h3><a href="/tools/">[Blank]</a></h3><p></p></div>*/}}
      </div>
    </div>
  </main>
</div>
{{template "footer" .}}
</body>
</html>
